#wrapper2{
	border:5px solid #069;
    width:99%;
    overflow-x:scroll;
    overflow-y:hidden;
    margin-top:150px;
    min-height:500px;
}
.margin-top-wrapper2{
	margin-top:100px !important;
}
#photo_wrapper{
	/*min-width:260%;*/
}
.successMsgInTag { 
	background: url("<?php echo WEB_PATH?>public/images/s_success.png") no-repeat scroll 275px 50% #006699;
    border: 2px solid #A2D246;	
}
.errorMsgInTag { 
	background: url("<?php echo WEB_PATH?>public/images/s_error.png") no-repeat scroll 406px 40% #006699 !important;	
    border: 2px solid #333333;
	left: 578px !important;
    width: 404px !important;
	height:20px !important;
}
.notifyMsgInTag { 
	background: url("<?php echo WEB_PATH?>public/images/s_error.png") no-repeat scroll 275px 50% #006699;
    border: 2px solid #A2D246;	
}
/* Outer css */
#tagPanelMesseging { 	
    color: #FFFFFF;
    height: 20px;
    right: 15px;
    opacity: 0.9;
    position: absolute;
    top: 50px;
    width: 280px;
    z-index: 99999;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:10px;
}
#authenticateDiv{
	border: 4px solid #006699;
    height: 92px;
    left: 670px;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 200px;
}
#authenticateDiv a{ margin-top:10px; }
#directLoginDiv{
	height: 75px;
    left: 692px;
    padding: 5px;
    position: absolute;
    top: 40px !important;
    width: 184px;
	display:none;
	border:3px solid #069;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:#069;
	color:#FFFFFF;
}
#directLoginError{
 	background-color: #CCCCCC;
    border: 3px solid #006699;
    color: #006699;
    display: none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
	font-weight:bold;
    left: 710px;
	top:120px;
    padding: 5px;
    position: absolute;
    width: 165px;
}
#directLoginDiv input{ width:120px; }
#registrationFormWrapper{
	margin:0 auto;
	padding-left:150px;
	padding-top:50px;
	width: 410px;
}
#newUserTable {
	border:5px solid #069;
	padding:20px;
}
#newUserTable span {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#069;		
}
#fbRegisterButton{
	background-color:#6777ac;
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	cursor:pointer;
	width:202px;
	height:25px;
	padding:2px;
	margin-left: -103px;
	margin-top:30px;	
}
#fbRegister{ display:none; }
#availability_status {
	font-size:11px;
	margin-left:10px;
}
#password_status2 {
	font-size:11px;
	margin-left:10px;
}
#password_status {
	font-size:11px;
	margin-left:10px;
}
.margin-top-photo-wrapper { margin-top: 25px; }
#authMessageDiv{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    height: 20px;
    top: 61px;
    width: 600px;
	padding:2px;
	position:absolute;
}
#authMessageDiv img{
	padding:2px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}
#pictureUploadRedirectDiv{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	width:100px;
	height:50px;
	margin-left:15px;
	margin-top:15px;	
}
#pictureUploadRedirectDiv a{
	text-decoration:none;
	color:#069;	
}
#pictureUploadRedirectDiv a:hover{
	text-decoration:underline;
	color:#069;	
}
#registerErrorMsg{
	color:#FF0000;
	display:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:justify;
	padding-top : 10px;
	padding-left: 25px;
}
#genderSelect{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	width:150px;
}
.uploadnav{
	margin:auto;
    width:100%;
    padding:10px 0;
    float:left;
    display:block;
    position:absolute;
    height:25px;
} 
.uploadnav div{
    width:300px;
} 
#notifyingMessage {
	position:absoulte;
    top:10px;
    background-color:#000;
}
/*
.selectImagesBtns{
    background:#069;
    border-radius:10px;
    padding:5px 10px;
    color:#fff!important;
    font-weight:bold;
    font-size:12px;
    border:none;
    width:90px;
	text-align:center;
    cursor:pointer;
} 
.uploadnav input:hover{
    background:#FFF;
    color:#666!important;
    text-decoration:none;
}
.disabledInputButton{
	background:#eee;
    border-radius:10px;
    padding:5px 10px;
    color:#fff!important;
    font-weight:bold;
    font-size:12px;
    border:none;
    width:90px;
	text-align:center;
    cursor:pointer;
}
*/
#fileUploadWrapper{
	margin:auto; 
    width:833px;
    margin-top:90px;
}
#fileupload{ position:absolute; }
#uploadedPicsPanel{
	margin:auto; 
    width:833px;
    height:600px;
    overflow-y: scroll;
    border:2px solid #069;
    margin-top:90px; 
}

#forgotPassWrapper{	
	padding-left:100px;
	height:100px;	
    margin-top:100px;
}
#forgotPassError{
	background-color:#CCCCCC;
	color:#FF0000;
	display:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:justify;
	padding-top : 10px;
	padding-left: 25px;
	padding-bottom:10px;
	width:200px; 	
}
/* This is for the image preloader thing */
#gallery { list-style:none; padding-top:15px; }
#gallery li { 
	background:#e8e8e8; float:left; 
	display:block; 
	/*margin:15px 56px;*/
	display:block; 
	border:1px solid #d7d7d7; 
	-moz-border-radius:4px;-webkit-border-radius:4px; 
	border-radius:4px; padding:0; 
	-webkit-box-shadow:1px 1px 6px #ddd; 
	-moz-box-shadow:1px 1px 6px #ddd; 
	box-shadow:1px 1px 6px #ddd; 
	margin:0 15px 14px 0;
}
#gallery li p {  
	border:1px solid #ffffff;  
	padding:7px; 
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px; 
	margin:0;
}
#gallery li a { 
	display:block; 
	color:#fff; 
	padding:0; 
	text-decoration:none;  
}
#gallery img { 	
	margin:0; 
	padding:0; 
}
/* End of the image preloader */
/* Tagging specfic styles here */
.clear { clear:both; }
.hide { display:none; }
.hideImp { display:none !important; }
.show { display:block; }
.on-off { 
	height:25px;
	position:absolute;
	top:0; 
	cursor:pointer;	
}
#discardImage{
	background:#111111;	
	padding:5px 0;
	border:1px solid #333;
	color:#fff;
	cursor:pointer;
	font-weight:bold;
	text-align:center;
	margin-top:-10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	cursor:pointer;
}
.start-tagging, .finish-tagging {
	background:#111111;	
	padding:5px 0;
	border:1px solid #333;
	color:#fff;
	cursor:pointer;
	font-weight:bold;
	text-align:center;
	margin-top:-10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	cursor:pointer;
}
#showAllMapsLnk {
}
#tagsPanelHeader {
}
#titles { margin-bottom:50px; }
#titles li {
	margin:0 0 5px 15px;
	list-style: disc;
}
#tagsPanel {
	padding:5px;
	background-color:#ccc;
    display: none;
	position:absolute;
	right: 15px;
    width:202px;
    z-index: 9999;
	border:10px solid #069;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;   	
}
#tagsPanel p { 
	width:110px;  
	line-height:10px;
}
#tagsPanel ul a{
	text-decoration:none;
	color:#069;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}
#tagsPanel ul a:hover{
	text-decoration:underline;
	color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}
#formContainer {
	display: none;
	position: absolute;
	top:20px;
	right: 15px;
	background-color:#ccc;	
	width:212px;
	z-index:9999;
	border:10px solid #069;
}	
#formContainer fieldset {
	margin-top:2px;
	width:188px;
	padding-left:10px;
}
#formContainerErrorDiv {
	color:#FF0000;
	background-color:#ccc;
	display:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:justify;
	padding-top : 10px;
	padding-left: 25px;	
}
#editForm1ContainerErrorDiv {
	color:#FF0000;
	background-color:#ccc;
	display:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:justify;
	padding-top : 10px;
	padding-left: 25px;	
}
#formContainer2 {
	display: none;
	position: absolute;
	top:20px;
	right: 15px;
	background-color:#ccc;	
	width:212px;
	z-index:9999;
	border:10px solid #069;
}	
#formContainer2 fieldset {
	margin-top:2px;
	width:188px;
	padding-left:10px;
}
#formContainer2ErrorDiv {
	color:#FF0000;
	background-color:#ccc;
	display:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:justify;
	padding-top : 10px;
	padding-left: 25px;	
}
#editForm2ContainerErrorDiv {
	color:#FF0000;
	background-color:#ccc;
	display:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:justify;
	padding-top : 10px;
	padding-left: 25px;	
}
#formContainer3 {
	display: none;
	position: absolute;
	top:20px;
	right: 15px;
	background-color:#ccc;	
	width:192px;
	z-index:9999;
	border:10px solid #069;
	padding:10px;   	
}
#formContainer4 {
	display: none;
	position: absolute;
	top:20px;
	right: 15px;
	background-color:#ccc;	
	width:192px;
	z-index:9999;
	border:10px solid #069;
	padding:10px 10px 0;   		
}
#formContainer4 fieldset {
 	margin-left: -9px;
    margin-top: -9px;
    padding-left: 10px;
    width: 188px;
}
#formContainer4ErrorDiv {
	color:#FF0000;
	background-color:#ccc;
	display:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:justify;
	padding-top : 10px;
	padding-left: 25px;	
}
#formAjaxLoader {
	position:absolute;
	top:100px;
	right: 75px;
	z-index:9999;
}
#quoteSubjectLbl {
	display: block;
    opacity: 1;
    position: absolute;
    top: 25px;	
	left:20px;	
}
#quoteDescLbl {
	display: block;
    opacity: 1;
    position: absolute;
    top: 95px;	
	left:20px;	
}
#quoteEmailLbl {
	display: block;
    opacity: 1;
    position: absolute;
    top: 147px;	
	left:20px;
}
#btnQuoteSubmit { 
	margin-top:5px;
	width:75px;
}
#itemQtyLabel {
	left: 20px;
    position: absolute;
    top: 25px;
}
#itemStatusLabel {
    left: 19px;
    position: absolute;
    top: 59px;
}
#itemStatus { 
    margin-top: 10px;
    width: 135px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:11px;
	font-weight:bold;
}
#itemQty { border:1px dashed #FF0000; }
#itemCats {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:11px;	
	font-weight:bold;
	width:184px;
	border: 1px dashed #FF0000; 	
}
#displayToPublic {
	width:25px;
	margin-top: 2px;	
	float:left;
	margin-left:-6px;
}
#btnTag {
	cursor:pointer;
	width:50px;
	margin-top:10px; 	
}
#btnBack {
	cursor:pointer;
	width:50px;
	margin-top:10px; 	
}
#tagName { border:1px dashed #FF0000; }
#tagNameLabel {
	position:absolute; 
	top:25px;
	margin-left:10px; 
}
#itemNameLabel {
	position:absolute; 
	top:60px;
	margin-left:10px; 
}
#itemDescLabel { 
	position:absolute;
	top:95px; 
	margin-left:10px;	
}
#itemCostLabel { 
	position:absolute;
	top:162px;	 
	margin-left:10px;	
}
#itemCost{ width:75px; }
#itemDesc { width:178px; } 
#btnNext{ 
	width:50px; 
	cursor:pointer; 
}
textarea { resize: none; } 
label { 
	font-weight:bold; color:#333; 
}
input { width:178px; }
.send { 
	position:absolute; 
	left:5px; 
	top:755px; 
}
.priceTags {
	margin-left: -44px;
    margin-top: 19px;
}
.priceTagLabel {
	-moz-transform: rotate(-60deg);
    left: 10px;
    margin: 16px 10px -10px -53px;
    position: absolute;
    top: 34px;	
}
.inlineEditTagPanel {
	height : 33px !important;
	overflow-y : hidden !important;
}
#tagPanelBottomLinks { height:10px; }
.offlineTagEdit {
	/*
	background-image:url('../images/b_edit.png');
	background-repeat:no-repeat;
	background-position:5px 50%;
	text-indent:9999px;
	*/
}
.inlineEditText { width:100px; list-style:disc }
#errorInEditUpdatePanel {
	color:#FF0000;
	background-color:#ccc;
	display:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:justify;
	padding-top : 10px;
	padding-left: 25px;	
}
.tagRemove {}
.offlineEditImg {
	border:none;
	margin-top: -24px;
	float:right;
	margin-right: -8px;	
}
.tagRemoveImg {
	border:none;
	margin-top: -24px;
	float:right;
	margin-right:-32px;
}
.customHeightDiv { display:none; }
.catNamesSmall { 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal !important;
}
/* Image Map CSS */
#tagContentDetails {
	display:none;
	position:absolute;
	top:0px;
}
.map { position:absolute; }
.map li {
	margin:0;
	padding:0;
	list-style:none;
	z-index:9999;
}
.map li a {
	position:absolute;
	display:block;
	cursor:pointer;
	color:#000;
}
.map li a span { display:none; }
.map li a:hover span, .selected {
	background:#fff;
	/*Add a width in here to control your comment hover*/
	padding:5px;
	display:none;
	position:absolute;
	top:50px;
	left:2px;
	border:1px solid #000;
	filter:alpha(opacity=80);
	opacity:0.8;
}
.map li a.hover, .map li a:hover { background:url('../public/images/tag_hotspot_on_62x62.png') no-repeat; }
.showAllMaps { 
	color:#069 !important; 
	text-decoration:none; 
}
.showAllMaps:hover { 
	color:#fff !important; 
	text-decoration:underline; 
}

/* This is for the polroid view of images 
ul#gallery {
	Please refer this coding will effect an error of placement of images
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);	
}
ul#gallery li:nth-child(even) {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
}
ul#gallery li:nth-child(3n) {
	-webkit-transform: none;
	-moz-transform: none;
	position: relative;
	top: -5px;
}
ul#gallery li:nth-child(5n) {
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	position: relative;
	right: 5px;
}
ul#gallery li:nth-child(8n) {
	position: relative;
	top: 8px;
	right: 5px;
}
ul#gallery li:nth-child(11n) {
	position: relative;
	top: 3px;
	left: -5px;
}
End of the image polarod view */
/* This is for the input fields auto complete event */
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}
.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}
.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}
.ac_loading { background: white url('<?php echo WEB_PATH?>public/images/indicator.gif') right center no-repeat; }
.ac_odd { background-color: #eee; }
.ac_over {
	background-color: #0A246A;
	color: white;
}

.paddingSpan{ padding-left:315px; }
.preloader { background:url(i/89.gif) center center no-repeat #ffffff; }
.smallHeightDiv{ height:5px; }
.errorSpan{	color:#FF0000; }
.normalMsgSpan{	color:#069; }
.authSection{
	width:100px;
	height:50px;	
	float:left;	
}
input.form_element {
	width: 221px;
	background: transparent url('<?php echo WEB_PATH?>public/images/bg.jpg') no-repeat;
	color : #747862;
	height:20px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;
}
.dd{
	font-size: 11px;
    width: 40px;	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	float:left;
}
.mm{
	font-size: 11px;
    width: 60px;	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	float:left;	
}
.yy{
	font-size: 11px;
    width: 50px;	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	float:left;		
}
.mandatoryMark{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px !important;
	font-weight:bold;
	color:#FF0000 !important;
}
.middleHightDiv{ height:25px; }

/* Added by Janaka */
#mainMenuLayer{
width:100%;
height:20px;
background-color:#99CC00;
position:absolute;
top:10px;
}
#mainMenuLayer div{
	
	position:relative;	
}
#recentMessages a {
	float:left;
	cursor:pointer;
	
}
#recentMessages #subMenuNotification{
	position:absolute;
	width:300px;
	max-width:300px;
	top:20px;
	background-color:#FFC;	
	z-index:99999;
	padding:1px 0 1px 0;
	margin:0;
	list-style:none;
	
	font-size:12px;
}
#recentMessages #subMenuNotification li{
	margin:0;
	padding:20px 2px 20px 2px;
	display:block;
	cursor:pointer;
	text-align:left;
}
#recentMessages #subMenuNotification li:hover{
	background-color:#FFCC00;
}
#recentMessages #subMenuNotification li.more{
	text-align:center;
	background-color:#CCCCCC;
}
#recentMessages #subMenuNotification li a
{
	float:none;
}
#mainTitle{
	float:left;
	width:80%;
	text-align:center;
	display:block;
}
#actionMenu{
	float:right;
}
#actionMenu a {
	float:left;
	cursor:pointer;
}
#actionMenu #subMenuOptions{
	 position:absolute;
	 width:auto;
	 background-color:#FFC;	
	 right:0px;
}
#actionMenu #subMenuOptions ul{
	margin:5px;
	padding:0px;
}
#actionMenu #subMenuOptions ul li{
	margin:2px;
	padding:0px;
}
/*-----------------*/

/*
 * jQuery File Upload UI Plugin CSS 5.0.6
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://creativecommons.org/licenses/MIT/
 */

.fileupload-buttonbar .ui-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	border-width: 0 0 100px 200px;
	opacity: 0;
	filter: alpha(opacity=0);
	-o-transform: translate(250px, -50px) scale(1);
	-moz-transform: translate(-300px, 0) scale(4);
	direction: ltr;
	cursor: pointer;
}

.fileinput-button { overflow: hidden; }
/* Fix for IE 6: */
*html .fileinput-button { padding: 2px 0; }
/* Fix for IE 7: */
*+html .fileinput-button { padding: 2px 0; }
.fileupload-buttonbar {
	padding: 0.2em 0.4em;
	padding-left:220px;  
}
.fileupload-buttonbar .ui-button {
	vertical-align: middle;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	color:#069;  
}
.fileupload-content {
	border-top-width: 0;
    padding: 0.2em 0.6em 0.2em 70px;
    width: 750px !important;
	/*height:100px;*/
}
.exHeightForUploader{
	height:600px;
	overflow-y:scroll;
}
.fileupload-content .ui-progressbar {
	width: 200px;
	height: 20px;
}
.fileupload-content .ui-progressbar-value { background: url(../images/pbar-ani.gif); }
.fileupload-content .fileupload-progressbar {
	width: 400px;
	margin: 10px 0;
}
.files {
	margin: 10px 0;
	border-collapse: collapse;
	width:685px;  
}
.files td {
	padding: 10px;
	border-spacing: 5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
}
.files tr {
	padding: 3px;
	border:2px solid #069;  
}
.files img {
	border: 5px solid #069;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
}
.files .name { padding: 0 10px; }
.files .size {
	padding: 0 10px 0 0;
	text-align: right;
	white-space: nowrap;
}
.ui-state-disabled .ui-state-disabled {
	opacity: 1;
	filter: alpha(opacity=100);
}
.ui-state-disabled input { cursor: default; }
.someHeight{ height:25px; }

/*
 * imgAreaSelect animated border style
 */

.imgareaselect-border1 { background: url(../../public/images/border-anim-v.gif) repeat-y left top; }
.imgareaselect-border2 { background: url(../../public/images/border-anim-h.gif) repeat-x left top; }
.imgareaselect-border3 { background: url(../../public/images/border-anim-v.gif) repeat-y right top; }
.imgareaselect-border4 { background: url(../../public/images/border-anim-h.gif) repeat-x left bottom; }
.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
	opacity: 0.5;
    filter: alpha(opacity=50);
}
.imgareaselect-handle {
    background-color: #fff;
	border: solid 1px #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.imgareaselect-outer {
	background-color: #000;
	opacity: 0.5;
    filter: alpha(opacity=50);
}
.imgareaselect-selection {
	background-color:#99CCFF;	
	opacity: 0.5;
    filter: alpha(opacity=50);	
}

/* In the notification panel */
#showHideNotification {
	padding-right:100px;
}
#picUploadUl{
	line-height: 15px;
	background: none repeat scroll 0 0 #EEEEEE;
    display: inline;
    left: 150px;
    list-style: none outside none;
    position: absolute;
}
#userProfilePicLinks{
	line-height: 20px;
	background: none repeat scroll 0 0 #EEEEEE;
    display: inline;
    right: 450px;
    list-style: none outside none;
    position: absolute;
    top: 25px;
}
#welcomeMessage{
	margin-left:300px;
}
#userProfilePageLinks{
	margin-left:450px;
}
#profilePic{
	width:25px;
    height:25px;
}

/* This is for the user profile admin area */
#userProfileAdminArea{
	width:900px;
    height:500px;
    background-color:#eee;
    color:#069;
    margin: 0 auto;
    margin-top:100px;
    border:2px solid #069;
}

.exlargeLink{
	color: red;
    font-size: 18px;
    font-style: italic;
}
#profileLargeImage{
    width:200px;
    height:200px;
    padding:50px;
    float:left;
}
#otherLinksDiv{
	float:left;
    width:600px;
    height:300px;
}
#profileDetailsChngdIV{
	height:100px;
    width:800px;
    padding:50px;
}
.exLargeFont{
	font-size:13px;
    font-weight:none;
}
.each_photo_wrapper{
	
}